
:root {
    --terminal-background-1: #0f0f0f;
    --terminal-background-2: rgb(43, 41, 41);
    --page-background: #131313;
    --page-foreground: #cecece;
    --link: rgb(0, 255, 157);
    --link-clicked: rgb(153, 121, 51);
}

body {
    background: var(--page-background);
    color: var(--page-foreground);
    font-family: monospace;
    max-width: 86ch;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    margin-left: 1em;
}

h2 {
    margin-top: 1em;
}

h2:before {
    content: "$ ";
}

.terminal {
    border-width: 1ch;
    border-style: solid;
    border-color: var(--page-foreground);
    background: linear-gradient(var(--terminal-background-1), var(--terminal-background-2));
    border-radius: 2ch;
    margin: 1ch;
    padding: 1ch;
}

a {
    color: var(--link);
}

a:visited {
    color: var(--link-clicked);
}
